$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;
$background-color: #455A64;
$highlight-color: #f0ad4e;

body {
  height:100vh;
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
  display:flex;
  justify-content:center;
  align-items:center;
}
.form-group
{
  width: 400px;
}
.form-control {
  margin-top: 8px;
  width: 100%;
}

#description-input-form {
  align-items: left;
}

.btn {
  margin-top: 8px;
}

.input-form {
  display: flex;
  flex-direction:column;
  align-items:center;
}

#file-input-formgroup {
  align-items: left;
}

label {
  display:inline;
}
a {
  display:inline;
  margin-top: 8px;
}

#wdw-visiter-area {
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

#wdw-wall-area {
  align-items: center;
}

#wdw-current-user-area {
  padding-left: 10px;
  padding-top: 10px;
}

.col {
  width: 33.33%;
  display: flex;
  height: 100%;
  flex-direction: column;
}

#wall {
  height: 80%;
  background-color: white;
  width: 100%;
  margin: 10px;
  border-radius: 25px;
  padding: 25px;
  overflow: scroll;
}

#theGoForm {
  flex-direction: row;
}

#visit-Input-field {
  margin-right: 10px;
}

.wallMessage {
  display: inline-block;
  color: #000;
  font-size: 12px;

}

#input-send-message-form {
  width: 100%;
}
//
//chatWnd{
//  text-align:left;
//  margin:0 auto;
//  margin-bottom:25px;
//  padding:10px;
//  background:#fff;
//  height:270px;
//  width:430px;
//  border:1px solid #ACD8F0;
//  overflow:auto;
//}
